@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #F08080;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
}

.btn {
    color: rgb(155, 152, 152);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Advent Pro', sans-serif;
}

.btn-2 {
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 1px;
    color: #F08080;
}

.container_one {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 37rem;
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}

.title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 2px;
}

h1 {
    background-image: url(https://media0.giphy.com/media/126jxQSflEozPW/giphy.gif?cid=790b761183368f2934c9dfbd0dd82ae2a92de1534f53fc0b&rid=giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 9vw;
    line-height: .75;
}

h2 {
    color: rgb(155, 152, 152);
    font-family: 'Advent Pro', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.5px;
    justify-content: flex-end;
}

.container_two {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.sub_title {
    font-family: "Montserrat";
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    letter-spacing: 1px;
}

h4 {
    background-image: url(https://media0.giphy.com/media/126jxQSflEozPW/giphy.gif?cid=790b761183368f2934c9dfbd0dd82ae2a92de1534f53fc0b&rid=giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 40px;
    line-height: .75;
}

.heart {
    width: 5rem;
}

.description {
    width: 35rem;
    height: 17rem;
    background-color: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

h3 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    line-height: 1.7rem;
    color: rgb(155, 152, 152);
}

.cv {
    font-family: 'Advent Pro', sans-serif;
    margin-top: 15%;
    color: blanchedalmond !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #F08080;
    border-color: #F08080;
    transition: all 1s ease;
    position: relative;
    border-radius: 20px;
}

.cv:hover {
    background: #F08080;
    color: #fff !important;
    text-decoration: none;
}

.mini_container {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 6rem;
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 0rem;
}

.container_three {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 31rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first_project,
.second_project,
.third_project {
    width: 16rem;
    height: 18rem;
    background-color: #F08080;
    justify-content: center;
    align-items: flex-end;
}

.projects {
    width: 15rem;
    height: 14rem;
    align-items: center;
    margin-left: 3%;
    margin-top: 3%;
}

.container_button_one,
.container_button_two,
.container_button_three {
    background: transparent;
    width: 100%;
    height: 1.7rem;
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
    text-align: center;
}

.git_one,
.deploy_one {
    font-family: 'Advent Pro', sans-serif;
    margin: auto;
    width: 30%;
    background-color: rgb(24, 23, 23);
    outline: none;
    color: rgb(155, 152, 152);
    border-radius: 10px;
    border: transparent;
    text-decoration: none;
}

.git_one:hover,
.deploy_one:hover {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 35%;
    background-color: rgb(155, 152, 152);
    color: rgb(24, 23, 23);
    border: transparent;
    outline: none;
    text-decoration: none;
}

.container_four {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
}

.contact {
    width: 40rem;
    height: 10rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact_linkedin,
.contact_gmail,
.contact_git {
    width: 7rem;
    height: 7rem;
    background-color: transparent;
}

.container_five {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1%;
}

.skills {
    width: 55rem;
    height: 8rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.javascript,
.javascript,
.html5,
.css3,
.figma,
.git-hub,
.firebase,
.git {
    width: 6rem;
    height: 6rem;
    background-color: transparent;
}

.footer {
    background-color: rgb(24, 23, 23);
    width: 100%;
    height: 3rem;
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(155, 152, 152);
    font-size: 13px;
    font-weight: 200;
    margin: rem 0;
    font-family: 'Advent Pro', sans-serif;
}

@media screen and (max-width: 480px) {
    h4 {
        font-size: 30px;
    }
    h1 {
        font-size: 16vw;
        flex-direction: column;
    }
    .container_three {
        flex-direction: column;
        padding-top: 5%;
        height: 51rem;
        align-content: space-between;
        padding-bottom: 5%;
    }
    h3 {
        width: 15rem;
        height: 10rem;
        font-size: 14px;
        line-height: 1.2rem;
    }
    .heart {
        width: 3rem;
        margin-top: 10%;
    }
    h2 {
        font-size: 3.8vw;
    }
    .mini_container {
        height: 2.5rem;
    }
    .first_project,
    .second_project,
    .third_project {
        width: 14rem;
        height: 19rem;
        margin-top: 0.3rem;
    }
    .projects {
        width: 13rem;
        height: 13rem;
    }
    .container_button_one,
    .container_button_two,
    .container_button_three {
        height: 1rem;
        margin-top: 0.3rem;
    }
    .cv {
        width: 40%;
        margin: auto;
    }
    .cv:hover {
        width: 40%;
    }
    .container_four {
        height: 10rem;
    }
    .contact {
        padding-top: 5%;
    }
    .icon_linkedin,
    .icon_gmail,
    .icon_git {
        width: 4rem;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
    }
    .container_five {
        height: 10rem;
    }
    .javascript,
    .javascript,
    .html5,
    .css3,
    .figma,
    .git-hub,
    .firebase,
    .git {
        width: 2rem;
        height: 2rem;
        background-color: transparent;
    }
    .skills {
        height: 3rem;
        background-color: transparent;
        justify-content: space-around;
    }
    .js {
        width: 2rem;
        height: 2rem;
    }
    .btn {
        font-size: 12px;
    }
    .description {
        width: 20rem;
    }
}